In [2]:
#Import libraries
import pandas as pd 
import numpy as np

import scipy.stats as st

In [6]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
cols = ['Sepal length', 'Sepal Width', 'Petal length', 'Petal Width', 'Class']
df = pd.read_csv(url, header = None, names = cols)

df.head()

   Sepal length  Sepal Width  Petal length  Petal Width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [7]:
df['Class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Class, dtype: int64

In [8]:
st.f_oneway(df.iloc[:,0], df.iloc[:,1], df.iloc[:,2], df.iloc[:,3])

F_onewayResult(statistic=483.57128302425997, pvalue=3.4996987081933735e-159)

In [9]:
# alpha < p = Reject H0
# alpha > p = Fail to reject the H0
# e-159 indicates before 3.499 there are 159 zeros so the value gets equivalent to 0
#alpha = 0.005 > p = 0 so, Reject H0(null hypothesis) and HA = at least one sample is different